header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: #333;
    color: white;
}

header > h1 {
    margin: 0;
    font: 1.5em Arial, sans-serif;
}

header > nav {
    display: flex;
    height: 100%;
    align-items: stretch;
}

header > nav > a {
    padding: 25px;
    text-decoration: none;
    font: medium Arial, sans-serif;
    color: white;
}



header > nav > a.active {
    color: skyblue;
}

header > nav > a:hover {
    background: rgba(255,255,255,.1);
}
