ul {
    max-width: 350px;
    padding-left: 4px;
}

li {
    list-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    background: #5a0390;
    padding: 12px;
    font: bold medium Arial, sans-serif;
    color: white;
}

li:first-child {
    border-radius: 10px 10px 0 0;
}

li:last-child {
    border-radius: 0 0 10px 10px;
}

li:only-child {
    border-radius: 10px;
}

li::before {
    margin-right: 10px;
    content: "✓ ";
    font-size: large;
}

li button {
    float: right;
    outline: none;
    visibility: hidden;
    border: none;
    background: transparent;
    font: 32px Arial, sans-serif;
    line-height: 0.75;
    color: #ff3333;
    cursor: pointer;
}

li button:hover {
    color: #ff6666;
}

li:hover button {
    visibility: visible;
}
