body {
    overflow-x: hidden;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
}

.gallery .gallery-item {
    position: relative;
    margin: 50px 10px 0 -500px;
    flex-shrink: 1;
    flex-basis: 200px;
    max-width: 350px;
    min-width: 150px;
    height: 280px;
    transition: margin 350ms ease-in-out;
}

.gallery .gallery-item:nth-child(even) {
    margin-top: 100px;
}

.gallery .gallery-item:first-child {
    margin-left: 0;
}

.gallery .gallery-item:first-child:hover {
    margin-left: 0;
}

.gallery .gallery-item:hover {
    margin-left: -450px;
    margin-right: 80px;
}

.gallery .gallery-item figure {
    width: 100%;
    height: 100%;
    margin: 0;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateY(45deg);
    transition: transform 350ms ease-in-out;
}


.gallery .gallery-item:hover figure {
    transform: perspective(600px) rotateY(0);
}

.gallery img {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

@media (max-width: 500px) {
    .gallery .gallery-item {
        flex-basis: 100%;
    }
    .gallery img {
        max-height: unset;
    }
}
