form {
    width: 350px;
    margin-top: 15px;
    padding: 6px;
    background: #5a0390;
    border-radius: 10px;
}

form input {
    width: 70%;
    border: none;
    padding: 14px;
    background: transparent;
    outline: none;
    font: bold medium Arial, sans-serif;
    color: white;
}

form input::placeholder {
    color: #ddd;
    font-weight: normal;
}

form button {
    width: 25%;
    float: right;
    outline: none;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    font: bold xx-large Arial, sans-serif;
    background: #5a0390;
    color: white;
    cursor: pointer;
    transition: color 200ms ease-in-out;
    transition-property: color, background;
}

form button:hover {
    color: #5a0390;
    background: white;
}
