body {
    word-spacing: -4px;
}

div {
    max-width: 300px;
    width: 33.33%;
    height: 20vw;
    padding: 1%;
    box-sizing: border-box;
    display: inline-block;
}

div > img {
    width: 100%;
    height: 100%;
}

div:hover {
    opacity: 0.6;
}

div:nth-child(4n) {
    width: 100%;
    max-width: unset;
    height: auto;
}
