@import "_variables";


header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 20px;
  color: var(--font-color);
  background: var(--header-bg);

  nav {
    display: flex;
    align-items: stretch;

    a {
      padding: @link-padding;
      font-size: large;
      font-weight: bold;
      color: var(--font-color);
      text-decoration: none;
      background-color: transparent;
      transition: background-color 200ms ease-in-out;

      &:hover {
        background-color: rgba(255, 255, 255, .2);
      }
    }
  }
}
