.gradient(@color1: transparent, @color2: transparent) {
  background-image: -webkit-linear-gradient(90deg, @color1, @color2);
  background-image: -moz-linear-gradient(90deg, @color1, @color2);
  background-image: -ms-linear-gradient(90deg, @color1, @color2);
  background-image: -o-linear-gradient(90deg, @color1, @color2);
  background-image: linear-gradient(0deg, @color1, @color2);
}
