@import "_variables";
@import "_mixins";
@import "_reset";
@import "_header";
@import "_footer";


html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  padding-bottom: 100px;
  box-sizing: border-box;
  background: var(--body-bg);
  color: var(--font-color);

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.box {
  width: 70%;
  margin: 20px auto;
  padding: 100px;
  font-size: large;
  color: deeppink;

  .gradient(blue, yellow);
}

#toggle-theme {
  margin: 20px;
  border: none;
  padding: 20px 30px;
  font: bold large Arial, sans-serif;
  background-color: var(--font-color);
  color: var(--header-bg);
  cursor: pointer;

  &:hover {
    opacity: .7;
  }
}
