body {
    overflow-x: hidden;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
}

.gallery .gallery-item {
    position: relative;
    margin: 20px 10px;
    flex-shrink: 1;
    flex-basis: 33%;
    max-width: 350px;
    min-width: 150px;
}

.gallery .gallery-item figure {
    width: 100%;
    height: 100%;
    margin: 0;
    transform-style: preserve-3d;
    transition: transform 350ms ease-in-out;
}


.gallery .gallery-item:hover figure {
    transform: perspective(400px) rotateX(180deg);
}

.gallery .gallery-item:nth-child(2n):hover figure {
    transform: perspective(400px) rotateY(180deg);
}

.gallery .gallery-item:nth-child(2n):hover figcaption {
    transform: rotateY(-180deg);
}

.gallery img {
    width: 100%;
    height: 100%;
    max-height: 25vw;
    backface-visibility: hidden;
}

.gallery figcaption {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: rotateX(-180deg);
    backface-visibility: hidden;
    background: rgba(0, 0, 0, .9);
    color: white;
    font: bold xx-large Roboto, Arial, sans-serif;
}

@media (max-width: 500px) {
    .gallery .gallery-item {
        flex-basis: 100%;
    }
    .gallery img {
        max-height: unset;
    }
}
