:root {
  --header-bg: #333;
  --body-bg: #666;
  --font-color: white;
}
body.light {
  --header-bg: #ccc;
  --body-bg: white;
  --font-color: black;
}
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}
body {
  font-family: Tahoma, Arial, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 20px;
  color: var(--font-color);
  background: var(--header-bg);
}
header nav {
  display: flex;
  align-items: stretch;
}
header nav a {
  padding: 25px 30px;
  font-size: large;
  font-weight: bold;
  color: var(--font-color);
  text-decoration: none;
  background-color: transparent;
  transition: background-color 200ms ease-in-out;
}
header nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
footer {
  padding: 30px;
  color: var(--font-color);
  background: var(--header-bg);
}
html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  padding-bottom: 100px;
  box-sizing: border-box;
  background: var(--body-bg);
  color: var(--font-color);
}
body footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.box {
  width: 70%;
  margin: 20px auto;
  padding: 100px;
  font-size: large;
  color: deeppink;
  background-image: -webkit-linear-gradient(90deg, blue, yellow);
  background-image: -moz-linear-gradient(90deg, blue, yellow);
  background-image: -ms-linear-gradient(90deg, blue, yellow);
  background-image: -o-linear-gradient(90deg, blue, yellow);
  background-image: linear-gradient(0deg, blue, yellow);
}
#toggle-theme {
  margin: 20px;
  border: none;
  padding: 20px 30px;
  font: bold large Arial, sans-serif;
  background-color: var(--font-color);
  color: var(--header-bg);
  cursor: pointer;
}
#toggle-theme:hover {
  opacity: 0.7;
}
