@import "sidebar.css";


header {
    position: sticky;
    top: 0;
    height: 70px;
    padding: 25px;
    box-sizing: border-box;
    background: lightblue;
    z-index: 5;
    box-shadow: 0 3px 10px #555;
}

aside {
    position: fixed;
    top: 70px;
    right: -22%;
    width: 25%;
    height: 100%;
    background: darkblue;
    transition: right 300ms ease-in-out;
    z-index: 2;
}

aside:hover {
    right: 0;
}

main {
    position: relative;
    margin-top: 0;
    padding-top: 20px;
    background: pink;
    z-index: 1;
}

footer {
    background: black;
    color: white;
}
