@import "common.css";

/*

ul {
    background: url(../cats/25.jpg) no-repeat left top / 30%, url(../cats/30.jpg) no-repeat right bottom / 30% yellow;
    height: 500px;
    cursor: pointer;
}
*/

.circle {
    position: absolute;
    top: 30px;
    right: 60px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: red;
}

.cat-img {
    position: sticky;
    top: 80px;
    float: left;
    margin: 20px;
    transition: transform 200ms;
}

.cat-img:hover {
    transform: rotate(180deg);
}

#test {
    background: brown;
}

#test::after {
    content: "";
    display: block;
    clear: both;
}

#test img {
    width: 250px;
    float: right;
}
