.header {
    border: 5px dotted red;
    font-size: 60px;
}
.header:not(:hover) {
    color: blue;
}

ul > li:first-child {
    font-size: x-large;
}

#header1 > span {
    opacity: 0;
}

#header1:hover > span {
    opacity: 1;
}
